@{
    ViewBag.Title = "EditResources";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
@model ShowRommSys.Client.Web.Models.Resources
<link type="text/css" rel="stylesheet" href="../../Content/uploadify.css" />
<script type="text/javascript" src="../../Scripts/jquery.uploadify.v2.1.4.js"></script>
<script type="text/javascript" src="../../Scripts/swfobject.js"></script>
<script type="text/javascript">
    $(function () {
        $('#videofileInput').uploadify({
            'uploader': '../../Content/uploadify.swf',
            'script': '/Site/UploadFile',
            'folder': '/UploadFiles/',
            'cancelImg': '../../Images/Cancel.png',
            'sizeLimit': 1024 * 1024 * 1000, //1000M
            'multi': false,
            'onSelect': onSelect,
            'onComplete': funvideo,
            'onError': onError
        });
    });
    function onError(event, queueID, fileObj) {
        alert("文件:" + fileObj.name + "上传失败");
    }
    function onSelect(e, queueId, fileObj) {
    }
    function funvideo(event, queueID, fileObj, response, data) {
        if (response != "") {
            $("#Uri").val(response);
        }
        else {
            alert("文件上传出错！");
        }
    };
</script>
<div class="box corner-top">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <input type="hidden" value="@Model.Type" id="Type" name="Type" />
        <input type="hidden" value="@Model.CreateTime" id="CreateTime" name="CreateTime" />
        <input type="hidden" value="@Model.Approve" id="Approve" name="Approve" />
        <div class="form">
            <p><label class="field">资源名：</label>@Model.Name</p>
            <div class="hr">
            @if (Model.Type == 1)
            {
                <p id="Type1"><label class="field">上传文件：</label>
                    <input id="videofileInput" name="videofileInput" type="file" />
                    <a href="javascript:$('#videofileInput').uploadifyUpload()">上传</a><input type="hidden" id="Uri" name="Uri" value="@Model.Uri"/>
                </p>
            }
            else if (Model.Type == 2)
            {
                <p id="Type2" style=""><label class="field">URL地址：</label><input name="Uri" type="text" class="text" size="70" value="@Model.Uri"/></p>
            }
            else
            {
                <p id="Type3" style=""><label class="field">应用程序目录：</label><input name="Uri" type="text" class="text" size="70" value="@Model.Uri"/></p> 
            }
                <p><label class="field">备注：</label><textarea name="Remark" class="text full" rows="5" id="Remark">@Model.Remark</textarea></p>
            </div>
            <p><button type="submit">保存</button>&nbsp;<a href="@Url.Content("~/site/IndexResources")" class="btn-69">返回</a></p>
        </div>
    }
</div>
